<!DOCTYPE html>
<html>
<head>
<title>Gabriel Matteo Jones</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-italia@2.14.0/dist/css/bootstrap-italia.min.css">
<link rel="stylesheet" href="https://www.comune.bologna.it/style.min.css?v=1625">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-italia@2.14.0/dist/js/bootstrap-italia.min.js"></script>
</head>
<body>
<header class="it-header-wrapper it-shadow">
  <div class="it-header-slim-wrapper theme-light">
    <div class="container-xxl">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a class="d-none d-lg-block navbar-brand" href="https://ufficio.gjws.it">Ufficio Digitale di Gabriel Matteo Jones</a>
            <div class="nav-mobile">
              <nav aria-label="Navigazione secondaria">
                <a class="it-opener d-lg-none" data-bs-toggle="collapse" href="#menuC2" role="button" aria-expanded="false" aria-controls="menuC2">
                  <span>Ufficio digitale GMJ</span>
                  <svg class="icon" aria-hidden="true"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use></svg>
                </a>
                <div class="link-list-wrapper collapse" id="menuC2">
                  <ul class="link-list">
                    <li><a class="dropdown-item list-item" href="#">Link 1</a></li>
                    <li><a class="list-item active" href="#" aria-current="page">Link 2 (Attivo)</a></li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="it-header-slim-right-zone">
              <div class="it-access-top-wrapper">
                <a class="btn btn-primary btn-sm" href="https://ufficio.gjws.it/DWL/">Effettua il login per continuare</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="it-nav-wrapper">
    <div class="it-header-center-wrapper theme-light">
      <div class="container-xxl">
        <div class="row">
          <div class="col-12">
            <div class="it-header-center-content-wrapper">
              <div class="it-brand-wrapper">
                <a href="#">
<img src="https://gabrieljones.it/assets/logo.png" alt="Logo" class="icon icon-sm me-2" width="40" height="40">                  <div class="it-brand-text">
                    <div class="it-brand-title">Blog di Gabriel Matteo Jones</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="it-header-navbar-wrapper theme-light-desk">
      <div class="container-xxl">
        <div class="row">
          <div class="col-12">
            <!--start nav-->
            <nav class="navbar navbar-expand-lg has-megamenu" aria-label="Navigazione principale">
              <button class="custom-navbar-toggler" type="button" aria-controls="navC2" aria-expanded="false" aria-label="Mostra/Nascondi la navigazione" data-bs-toggle="navbarcollapsible" data-bs-target="#navC2">
                <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-burger"></use></svg>
              </button>
              <div class="navbar-collapsable" id="navC2" style="display: none;">
                <div class="overlay" style="display: none;"></div>
                <div class="close-div">
                  <button class="btn close-menu" type="button">
                    <span class="visually-hidden">Nascondi la navigazione</span>
                    <svg class="icon"><use href="/bootstrap-italia/dist/svg/sprites.svg#it-close-big"></use></svg>
                  </button>
                </div>
                <div class="menu-wrapper">
                  <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="https://blog.gabrieljones.it/gabrielmatteojones/authors/"><span>Autori e scrittori</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/relazione/"><span>Relazione annuale per l'accessibilità</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="https://ufficio.gjws.it/servizi/"><span>Servizi</span></a></li>

                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<section class="it-hero-wrapper" aria-label="In evidenza">
   <div class="img-responsive-wrapper">
      <div class="img-responsive">
         <div class="img-wrapper"><img src="https://www.sediadaufficio.it/blog/wp-content/uploads/2018/01/Ufficio-Industriale-1.jpg" title="" alt=""></div>
      </div>
   </div>
</section>

<div class="container">

<div class="row">
  {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
  {% for post in sorted_posts limit:3 %}
    <div class="col-12 col-lg-8">
      <!--start card-->
      <div class="card-wrapper card-space">
        <div class="card card-bg card-big border-bottom-card">
          <div class="flag-icon"></div>
          <div class="etichetta">
            <span>Redattato da {{ post.author }}</span>
          </div>
          <div class="card-body">
            <h3 class="card-title h5">{{ post.title }}</h3>
            <p class="card-text font-serif">{{ post.excerpt }}</p>
            <a class="read-more" href="{{ post.url | relative_url }}">
              <span class="text">Leggi di più</span>
              <span class="visually-hidden">su {{ post.title }}</span>
              <svg class="icon">
                <use href="{{ site.baseurl }}/bootstrap-italia/dist/svg/sprites.svg#it-arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
  {% endfor %}
</div>



<h1>This is a heading</h1>
<p>This is a paragraph.</p>


  <aside class="it-announcement">
  <div class="it-announcement-header">
    <h3>Annuncio Importante</h3>
  </div>
  <div class="it-announcement-body">
    <p>Visita la nostra nuova sezione su <a href="/novità">novità e aggiornamenti</a> per tutte le ultime informazioni!</p>
  </div>
</aside>

</div>
  
<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="it-brand-wrapper">
              <a href="#" data-focus-mouse="false">
<img src="https://gabrieljones.it/assets/logo.png" alt="Logo" width="180" height="180">                <div class="it-brand-text">
                  <h2>Blog di Gabriel Matteo Jones</h2>
                  <h3 class="d-none d-md-block">Ieri è storia, domani è un mistero, ma oggi è un dono: per questo si chiama presente." - Maestro Oogway</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="py-4 border-white border-top">
        <div class="row">
          <div class="col-lg-4 col-md-4 pb-2">
            <h4>Contatti</h4>
            <p>
              <strong>Gabriel Matteo Jones</strong><br>
<a href="https://ufficio.gjws.it/">Ufficio Digitale</a>
</p>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li><a class="list-item" href="mailto:gmjblog@gjws.it">Email Info</a></li>
                <li>
                  <a class="list-item" href="mailto:assistenza@gjws.it">Assistenza</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
        <li class="list-inline-item"><a href="https://legal.gabrieljones.it/media/">Media policy</a></li>
        <li class="list-inline-item"><a href="https://ufficio.gjws.it">Ufficio Digitale</a></li>
        <li class="list-inline-item"><a href="https://gjws.it/datawin">Sito realizzato DataWin</a></li>
      </ul>
    </div>
  </div>
</footer>
<script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"siteId":4052509,"cookiePolicyId":40124372,"lang":"it","storage":{"useSiteId":true}};
</script>

<script type="text/javascript" src="https://cs.iubenda.com/autoblocking/4052509.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
</body>
</html>
