---
layout: default
---
<!-- File component.html -->
<div class="container">
  <div class="row">
    {% assign sorted_posts = site.posts | sort: 'date' | reverse %}
    {% for post in sorted_posts limit:6 %}
      <div class="col-12 col-lg-6 mb-4">
        <!--start card-->
        <div class="card-wrapper card-space it-shadow">
          <div class="card shadow-sm"> <!-- Aggiunta classe shadow-sm per l'ombra -->
            <div class="card-body">
              <div class="category-top">
                <a class="category" href="{{ post.category | relative_url }}">{{ post.category }}</a>
                <span class="data">{{ post.date | date: "%d/%m/%Y" }}</span>
              </div>
              <h3 class="card-title big-heading h5">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              </h3>
              <p class="card-text font-serif">{{ post.excerpt }}</p>
              <span class="card-signature">di {{ post.author }}</span>
              <a class="read-more" href="{{ post.url | relative_url }}">
                <span class="text">Leggi di più</span>
                <span class="visually-hidden">su {{ post.title }}</span>
                <svg class="icon"><use href="{{ site.baseurl }}/bootstrap-italia/dist/svg/sprites.svg#it-arrow-right"></use></svg>
              </a>
            </div>
          </div>
        </div>
        <!--end card-->
      </div>
    {% endfor %}
  </div>
</div>
